<h1>Редактировать {{course.title}}</h1>


<form action="/courses/edit" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{course.title}}">
    <label for="title">Название курса</label>
    <span class="helper-text" data-error="Введите название"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1" value="{{course.price}}">
    <label for="price">Цена курса</label>
    <span class="helper-text" data-error="Введите цену"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required value="{{course.img}}">
    <label for="img">URL картинки</label>
    <span class="helper-text" data-error="Введите url картинки"></span>
  </div>

  <input type="hidden" name="id" value="{{course._id}}">
  <input type="hidden" name="_csrf" value="{{csrf}}">

  <button class="btn btn-primary" type="submit">Редактировать курс</button>
</form>

<form action="/courses/remove" method="POST" style="margin-top: 20px;">
  <input type="hidden" name="id" value="{{course._id}}">
  <input type="hidden" name="_csrf" value="{{csrf}}">
  <button class="btn red" type="submit">Удалить курс</button>
</form>